@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: Outfit;
    scroll-behavior: smooth;
}

.main
{
    text-align: center;
    font-family: sans-serif;
}

.search-input{
    width: 500px;
    padding: 5px;
    border: 1px solid black;
}

.results-container{
    width: 500px;
    margin: auto;
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    max-height: 500px;
    overflow-y: scroll;
}

.result{
    display: block;
    padding: 5px;
}

.result:hover{
    background-color: beige;
    cursor: pointer;
}